<section>
  <h2>Table of Content</h2>

  <ul>
    {% with color="#17BAF9" %}
      <li><span {% if active == 'intro' %}class="toc-active" style="color: {{ color }};"{% endif %}>Introduction</span></li>
      <li><span {% if active == 'nutshell' %}class="toc-active" style="color: {{ color }};"{% endif %}>Python In A Nutshell</span></li>
      <li><span {% if active == 'cloud9' %}class="toc-active" style="color: {{ color }};"{% endif %}>Setting up python</span></li>
      <li><span {% if active == 'variables' %}class="toc-active" style="color: {{ color }};"{% endif %}>Variables</span></li>
      <li><span {% if active == 'strings' %}class="toc-active" style="color: {{ color }};"{% endif %}>Strings</span></li>
      <li><span {% if active == 'input' %}class="toc-active" style="color: {{ color }};"{% endif %}>Input & Imports</span></li>
      <li><span {% if active == 'ifelse' %}class="toc-active" style="color: {{ color }};"{% endif %}>The If-Statement & Type-casting</span></li>
      <li><span {% if active == 'exceptions' %}class="toc-active" style="color: {{ color }};"{% endif %}>Exception Handling</span></li>
      <li><span {% if active == 'functions' %}class="toc-active" style="color: {{ color }};"{% endif %}>Functions</span></li>
      <li><span {% if active == 'lists' %}class="toc-active" style="color: {{ color }};"{% endif %}>Lists & Loops</span></li>
      <li><span {% if active == 'datetimes' %}class="toc-active" style="color: {{ color }};"{% endif %}>Datetimes</span></li>
      <li><span {% if active == 'dicts' %}class="toc-active" style="color: {{ color }};"{% endif %}>Dictionaries</span></li>
      <li><span {% if active == 'next' %}class="toc-active" style="color: {{ color }};"{% endif %}>What's Next?</span></li>
    {% endwith %}
  </ul>
</section>
